// Global elements styling, e.g. for headings, buttons, links, etc.
// -----------------------------------------------------------------------------

:root {
  --max-text-length : 60ch;
}

@view-transition {
  navigation: auto;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.block-page-title-block {
  view-transition-name: page-title;
}
.block-system-breadcrumb-block{
  view-transition-name: breadcrumb;
}
.block-system-main-block{
  view-transition-name: main-content;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  text-wrap: balance;
  max-width: 40ch;
}
p, dd, li {
  text-wrap: pretty;
  max-width: var(--max-text-length);
}
